<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static i18n %} 
    
    {% get_current_language as LANGUAGE_CODE %}
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Rural Portugal: holiday experiences</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <link rel="icon" href='{%  static "logo/Frame 1.png" %}' />
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    
  </head>

  <body >

  <header>
    <!-- Header desktop -->
    <div class="wrap-menu-header trans-0-4">
      <div class="container h-full">
        <div class="wrap_header trans-0-3">
          <!-- Logo -->
          <div class="logo">
            <a href="{% url 'about' %}">
              <img src='{%  static "img/43aspect.png" %}' alt="logo of the book shop" title="logo of the book shop"
                data-logofixed='{%  static "logo/Component 2.png" %}' />
            </a>
          </div>
          <!-- Menu -->
    
          <div class="wrap_menu p-l-45 p-l-0-xl">
            <!-- Search bar -->
              <!-- Hotel Search Form Area -->
              {% include "pages/search.html" %}
              <!-- End Hotel Search Form Area -->

            {% block header %}
            
            <a class='hoverbtn'>Book now</a>
            <!-- <button class="wt-btn_sign"><span class="wt-btn_sign-bound"><span data-width="#fff" data-text="book now">book now</span></span></button> -->
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    
    </header>
    

    {% block body %} 
    
    {% endblock %}

    <!-- **** All JS Files ***** -->   
    <!-- jQuery 2.2.4 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap dependency -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Calendar dependency for the schedule app -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
    <!-- Theme dependencies -->
    <script src="{% static 'js/roberto.bundle.js' %}"></script>
    <script src="{% static 'js/schedule.js' %}"></script>
    <script src="{% static 'js/default-assets/active.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      $(".hoverbtn").hide();
      $(".wrap_menu .hotel-search-form-area").hide();
      </script>
    {% block scripts %} 
    
    {% endblock %}
  </body>
</html>
