<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static i18n %} 
    
    {% get_current_language as LANGUAGE_CODE %}
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Rural Portugal: holiday experiences</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <link rel="icon" href='{%  static "logo/Frame 1.png" %}' />
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    
  </head>

  <body >
    {% block header %}

    {% endblock %}

    {% block body %} 
    
    {% endblock %}

    <!-- **** All JS Files ***** -->   
    <!-- jQuery 2.2.4 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap dependency -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Calendar dependency for the schedule app -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
    <!-- Theme dependencies -->
    <script src="{% static 'js/roberto.bundle.js' %}"></script>
    <script src="{% static 'js/schedule.js' %}"></script>
    <script src="{% static 'js/default-assets/active.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %} 
    
    {% endblock %}
  </body>
</html>
