<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static i18n %} 
    
    {% get_current_language as LANGUAGE_CODE %}
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Roberto - Hotel &amp; Resort HTML Template</title>
    <link rel="icon" href="{% static 'img/core-img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
  </head>

  <body>
    {% block body %} 
    
    {% endblock %}

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'js/roberto.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %} 
    
    {% endblock %}
  </body>
</html>
