{% extends "base.html" %} 

{% load static i18n %} 

{% block body %}

<!-- Header Area Start -->
<header class="header-area"></header>
<!-- Header Area End -->

{% include "pages/loader.html" %} 

{% include "pages/intro.html" %} 

{% endblock%} 

{% block scripts %}

<script type="text/javascript">
$(window).on("load", function() {
  $(".owl-nav").remove();
//   $(".owl-stage").css({"transform":"translate3d(-3088px, 0px, 0px)", "width": "10808px;"});
//   $(".owl-item").each(function(index) {
//       $(this).css({"width":"1544px;"});
//     });
});
</script>

{% endblock %}
