{% load static i18n %}

<!-- Intro section -->
<section class="intro-section">
  <div class="container mt-100">

    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <!-- Section Heading -->
        <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
          <h2>Experience the <br />portuguese lifestyle</h2>
        </div>
        <div class="about-us-content mb-100">
          <h5 class="wow fadeInUp" data-wow-delay="300ms">
            As a globe trotter we look for authentic places and people. (...)
          </h5>
          <p class="wow fadeInUp" data-wow-delay="400ms">
            Manager: <span>Isabel Pratt</span>
          </p>
          <img
            src="{% static 'img/core-img/signature.png' %}"
            alt=""
            class="wow fadeInUp"
            data-wow-delay="500ms"
          />
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div
          class="about-us-thumbnail mb-100 wow fadeInUp"
          data-wow-delay="700ms"
        >
          <div class="row no-gutters">
            <div class="col-6">
              <div class="single-thumb">
                <img src="{% static 'img/bg-img/13.jpg' %}" alt="" />
              </div>
              <div class="single-thumb">
                <img src="{% static 'img/bg-img/14.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-6">
              <div class="single-thumb">
                <img src="{% static 'img/bg-img/15.jpg' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-8">
        <div class="intro-img-box">
          <h4>Trás-os-Montes</h4>
          <img src="{% static 'img/houses/outside/P1030304.JPG' %}" alt="" />
        </div>
      </div>
      <div class="col-lg-4 align-items-end d-flex">
        <div class="intro-text-box">
          <p>
            Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce
            erat magna, egestas vitae arcu non, posu-ere iaculis leo. Sed a
            lectus risus. Morbi eros sapien, inter-dum ut sollicitudin eget,
            porttitor nec elit. Fusce dignis-sim velit sit amet ligula dapibus
            fringilla. Cras fermentum consequat ornare. Etiam tempus ex nec nibh
            eleifend, nec tempus ipsum finibus.
          </p>
          <a href="" class="site-btn">MORE INFO</a>
        </div>
      </div>
      <div class="col-lg-4 align-items-end d-flex order-2 order-lg-1">
        <div class="intro-text-box">
          <p>
            Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce
            erat magna, egestas vitae arcu non, posu-ere iaculis leo. Sed a
            lectus risus. Morbi eros sapien, inter-dum ut sollicitudin eget,
            porttitor nec elit. Fusce dignis-sim velit sit amet ligula dapibus
            fringilla. Cras fermentum consequat ornare. Etiam tempus ex nec nibh
            eleifend, nec tempus ipsum finibus.
          </p>
          <a href="" class="site-btn">MORE INFO</a>
        </div>
      </div>
      <div class="col-lg-8 order-1 order-lg-2">
        <div class="intro-img-box">
          <h4>Algarve</h4>
          <img src="{% static 'img/houses/outside/algarve-pool.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Intro section end-->
