{% load static i18n %}


{% block header %}

<header>
  
<!-- Header desktop -->
<div class="wrap-menu-header trans-0-4">
  <div class="container h-full">
    <div class="wrap_header trans-0-3">
      <!-- Logo -->
      <div class="logo">
        <a href="{% url 'intro' %}">
          <img src='{%  static "img/43aspect.png" %}' alt="logo of the book shop" title="logo of the book shop"
            data-logofixed='{%  static "logo/Component 2.png" %}' />
        </a>
      </div>
      <!-- Menu -->

      <div class="wrap_menu p-l-45 p-l-0-xl">
        <!-- Search bar -->
          <!-- Hotel Search Form Area -->
          <div class="hotel-search-form-area">
            <div class="container-fluid">
              <div class="hotel-search-form">
                <form action="#" method="post">
                  <div class="row justify-content-between align-items-end">
                    <div class="col-6 col-md-2 col-lg-3">
                      <label for="checkIn">Check In</label>
                      
                      <input
                        type="date"
                        class="form-control"
                        id="checkIn"
                        name="checkin-date"
                      />
                    </div>
                    <div class="col-6 col-md-2 col-lg-3">
                      <label for="checkOut">Check Out</label>
                      <input
                        type="date"
                        class="form-control"
                        id="checkOut"
                        name="checkout-date"
                      />
                    </div>
                    <div class="col-4 col-md-1">
                      <label for="room">Room</label>
                      <select name="room" id="room" class="form-control">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06+">06+</option>
                      </select>
                    </div>
                    <div class="col-4 col-md-1">
                      <label for="adults">Adult</label>
                      <select name="adults" id="adults" class="form-control">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06+">06+</option>
                      </select>
                    </div>
                    <div class="col-4 col-md-2 col-lg-1">
                      <label for="children">Children</label>
                      <select name="children" id="children" class="form-control">
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06+">06+</option>
                      </select>
                    </div>
                    <div class="col-12 col-md-3">
                      <button type="submit" class="form-control btn roberto-btn w-100">
                        Check Availability
                      </button>
                    </div>
                  </div>
                </form>
                <button class="closebtn">x</button>
              </div>
            </div>
          </div>
          
        <!-- End search bar -->
        <a class='hoverbtn'>Book now</a>
        <!-- <button class="wt-btn_sign"><span class="wt-btn_sign-bound"><span data-width="#fff" data-text="book now">book now</span></span></button> -->
      </div>
    </div>
  </div>
</div>

</header>
{% endblock %}

<!-- Intro section -->
<section class="intro-section">
  <div class="container mt-100">

    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <!-- Section Heading -->
        <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
          <h2>Experience the <br />portuguese lifestyle</h2>
        </div>
        <div class="about-us-content mb-100">
          <h5 class="wow fadeInUp" data-wow-delay="300ms">
            As a globe trotter we look for authentic places and people. (...)
          </h5>
          <p class="wow fadeInUp" data-wow-delay="400ms">
            Manager: <span>Isabel Pratt</span>
          </p>
          <img
            src="{% static 'img/core-img/signature.png' %}"
            alt=""
            class="wow fadeInUp"
            data-wow-delay="500ms"
          />
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div
          class="about-us-thumbnail mb-100 wow fadeInUp"
          data-wow-delay="700ms"
        >
          <div class="row no-gutters">
            <div class="col-6">
              <div class="single-thumb">
                <img src="{% static 'img/bg-img/13.jpg' %}" alt="" />
              </div>
              <div class="single-thumb">
                <img src="{% static 'img/bg-img/14.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-6">
              <div class="single-thumb">
                <img src="{% static 'img/bg-img/15.jpg' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      {% for property in properties %}
      {% if forloop.counter|divisibleby:2 %} 
      <div class="row">
      <div class="col-lg-8">
        <div class="intro-img-box">
          <h4>{{ property.title }}</h4>
          {% for img in property.images.all %}
          {% if forloop.last %} 
          <img src="{{ img.image.url }}" onclick="location.href='{{ property.get_absolute_url }}';" alt="{{ img.alt }}" />
          {% endif %}	
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-4 align-items-end d-flex">
        <div class="intro-text-box">
          <p>
            {{ property.content }}
          </p>
          <a href="{{ property.get_absolute_url }}" class="trendybutton">MORE INFO</a>
        </div>
      </div>
    </div>

      {% else %}
      <div class="row">
      <div class="col-lg-4 align-items-end d-flex order-2 order-lg-1">
        <div class="intro-text-box">
          <p>
            {{ property.content }}
          </p>
          <a href="{{ property.get_absolute_url }}" class="trendybutton">MORE INFO</a>
        </div>
      </div>
      <div class="col-lg-8 order-1 order-lg-2">
        <div class="intro-img-box">
          <h4>{{ property.title }}</h4>
          {% for img in property.images.all %}
          {% if forloop.last %} 
          <img src="{{ img.image.url }}" onclick="location.href='{{ property.get_absolute_url }}';" alt="{{ img.alt }}" />
          {% endif %}	
          {% endfor %}
        </div>
      </div>
    </div>
      {% endif %}	
      {% endfor %}

    </div>
  </div>
</section>
<!-- Intro section end-->
