{% load static i18n %}

<!-- Hero section -->
<section class="hero-section">

  <div class="hero-slider owl-carousel owl-theme">
    <div class="hs-item set-bg" data-setbg="{% static 'img/houses/outside/mondim-smallsize.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="section-heading-left col-xl-6 col-lg-7">
            <h2>Countryside locations for authentic rural experiences.</h2>
            <a
            href="{% url 'about' %}"
            class="btn roberto-btn btn-2"
            data-delay="300ms"
            >Discover Now</a
          >
          </div>

        </div>
      </div>
    </div>
    <div class="hs-item set-bg" data-setbg="{% static 'img/houses/outside/algarve-pool-dark-short.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7">
            <h2>A beach house in a green country club.</h2>
            <a
            href="{% url 'about' %}"
            class="btn roberto-btn btn-2"
            data-delay="300ms"
            >Discover Now</a
          >
          </div>
        </div>
      </div>
    </div>
    <div class="hs-item set-bg" data-setbg="{% static 'img/houses/outside/ericeira.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7">
            <h2>A beach house by surfers for surfers.</h2>
            <a
            href="{% url 'about' %}"
            class="btn roberto-btn btn-2"
            data-delay="300ms"
            >Discover Now</a
          >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero details slider -->
  <div class="hero-nav-slider-warp">
    <div class="container">
      <div class="hero-nav-slider owl-carousel">
        <div class="hns-item">
          <h5>Double beds with a private pool in the countryside</h5>
          <p>Available from June 2019</p>
          <span>Starting at 100€</span>
        </div>
        <div class="hns-item">
          <h5>Double beds and single beds with a shared pool</h5>
          <p>Available from June 2019</p>
          <span>Starting at 120€</span>
        </div>
        <div class="hns-item">
          <h5>Double and single beds for surfers</h5>
          <p>Available from June 2019</p>
          <span>Starting at 80€</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero section end -->
