<div class="hotel-search-form-area">
  <div class="container-fluid">
    <div class="hotel-search-form">
      <form action="{% url 'rooms-list' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-between align-items-end">
          <div class="col-6 col-md-2 col-lg-3">
            <label for="check_in">Check In</label>
            
            <input
              type="date"
              class="form-control"
              id="check_in"
              name="check_in"
            />
          </div>
          <div class="col-6 col-md-2 col-lg-3">
            <label for="check_out">Check Out</label>
            <input
              type="date"
              class="form-control"
              id="check_out"
              name="check_out"
            />
          </div>
          <div class="col-4 col-md-1">
            <label for="rooms">Room</label>
            <select name="rooms" id="rooms" class="form-control">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06+">06+</option>
            </select>
          </div>
          <div class="col-4 col-md-1">
            <label for="adults">Adult</label>
            <select name="adults" id="adults" class="form-control">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06+">06+</option>
            </select>
          </div>
          <div class="col-4 col-md-2 col-lg-1">
            <label for="children">Children</label>
            <select name="children" id="children" class="form-control">
              <option value="00">00</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06+">06+</option>
            </select>
          </div>
          <div class="col-12 col-md-3">
            <button type="submit" class="form-control btn roberto-btn w-100">
              Check Availability
            </button>
          </div>
        </div>
      </form>
      <button class="closebtn">x</button>
    </div>
  </div>
</div>