{% load static i18n %}

<!-- Welcome Area Start -->
<section class="welcome-area">
  <div class="welcome-slides owl-carousel">
    <!-- Single Welcome Slide -->
    <div
      class="single-welcome-slide bg-img bg-overlay"
      style="background-image: url(../static/img/bg-img/16.jpg);"
      data-img-url="{% static 'img/bg-img/16.jpg' %}"
    >
      <!-- Welcome Content -->
      <div class="welcome-content h-100">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <!-- Welcome Text -->
            <div class="col-12">
              <div class="welcome-text text-center">
                <h6 data-animation="fadeInLeft" data-delay="200ms">
                  Hotel &amp; Resort
                </h6>
                <h2 data-animation="fadeInLeft" data-delay="500ms">
                  Welcome To Roberto
                </h2>
                <a
                  href="#"
                  class="btn roberto-btn btn-2"
                  data-animation="fadeInLeft"
                  data-delay="800ms"
                  >Discover Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Welcome Slide -->
    <div
      class="single-welcome-slide bg-img bg-overlay"
      style="background-image: url(../static/img/bg-img/17.jpg);"
      data-img-url="{% static 'img/bg-img/17.jpg' %}"
    >
      <!-- Welcome Content -->
      <div class="welcome-content h-100">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <!-- Welcome Text -->
            <div class="col-12">
              <div class="welcome-text text-center">
                <h6 data-animation="fadeInUp" data-delay="200ms">
                  Hotel &amp; Resort
                </h6>
                <h2 data-animation="fadeInUp" data-delay="500ms">
                  Welcome To Roberto
                </h2>
                <a
                  href="#"
                  class="btn roberto-btn btn-2"
                  data-animation="fadeInUp"
                  data-delay="800ms"
                  >Discover Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Welcome Slide -->
    <div
      class="single-welcome-slide bg-img bg-overlay"
      style="background-image: url(../static/img/bg-img/18.jpg);"
      data-img-url="{% static 'img/bg-img/18.jpg' %}"
    >
      <!-- Welcome Content -->
      <div class="welcome-content h-100">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <!-- Welcome Text -->
            <div class="col-12">
              <div class="welcome-text text-center">
                <h6 data-animation="fadeInDown" data-delay="200ms">
                  Hotel &amp; Resort
                </h6>
                <h2 data-animation="fadeInDown" data-delay="500ms">
                  Welcome To Roberto
                </h2>
                <a
                  href="#"
                  class="btn roberto-btn btn-2"
                  data-animation="fadeInDown"
                  data-delay="800ms"
                  >Discover Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Welcome Area End -->

<!-- About Us Area Start -->
<section class="roberto-about-area section-padding-100-0">
  <!-- Hotel Search Form Area -->
  <div class="hotel-search-form-area">
    <div class="container-fluid">
      <div class="hotel-search-form">
        <form action="#" method="post">
          <div class="row justify-content-between align-items-end">
            <div class="col-6 col-md-2 col-lg-3">
              <label for="checkIn">Check In</label>
              <input
                type="date"
                class="form-control"
                id="checkIn"
                name="checkin-date"
              />
            </div>
            <div class="col-6 col-md-2 col-lg-3">
              <label for="checkOut">Check Out</label>
              <input
                type="date"
                class="form-control"
                id="checkOut"
                name="checkout-date"
              />
            </div>
            <div class="col-4 col-md-1">
              <label for="room">Room</label>
              <select name="room" id="room" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6+">6+</option>
              </select>
            </div>
            <div class="col-4 col-md-1">
              <label for="adults">Adult</label>
              <select name="adults" id="adults" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6+">6+</option>
              </select>
            </div>
            <div class="col-4 col-md-2 col-lg-1">
              <label for="children">Children</label>
              <select name="children" id="children" class="form-control">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6+">6+</option>
              </select>
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="form-control btn roberto-btn w-100">
                Check Availability
              </button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>

  
</section>
