{% load static i18n %}

<!-- Location section-->
<section class="location-section spad">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="tab-content location-tab">
          <div
            class="tab-pane fade show active"
            id="tab-1"
            role="tabpanel"
            aria-labelledby="tab-1"
          >
            <img src="{% static 'img/location/1.jpg' %}" alt="" />
            <a
              href="https://www.youtube.com/watch?v=Sz_1tkcU0Co"
              class="play-btn"
              ><img src="{% static 'img/play-icon.png' %}" alt=""
            /></a>
          </div>
          <div
            class="tab-pane fade"
            id="tab-2"
            role="tabpanel"
            aria-labelledby="tab-2"
          >
            <img src="{% static 'img/location/2.jpg' %}" alt="" />
            <a
              href="https://www.youtube.com/watch?v=7JTHzDiJ2NA"
              class="play-btn"
              ><img src="{% static 'img/play-icon.png' %}" alt=""
            /></a>
          </div>
          <div
            class="tab-pane fade"
            id="tab-3"
            role="tabpanel"
            aria-labelledby="tab-3"
          >
            <img src="{% static 'img/location/3.jpg' %}" alt="" />
            <a
              href="https://www.youtube.com/watch?v=g3tB7aFoyjY"
              class="play-btn"
              ><img src="{% static 'img/play-icon.png' %}" alt=""
            /></a>
          </div>
          <div
            class="tab-pane fade"
            id="tab-4"
            role="tabpanel"
            aria-labelledby="tab-4"
          >
            <img src="{% static 'img/location/4.jpg' %}" alt="" />
            <a href="youtube.com/watch?v=slJrBtarjgo" class="play-btn"
              ><img src="{% static 'img/play-icon.png' %}" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <ul class="nav nav-tabs location-tab-nav" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="1-tab"
              data-toggle="tab"
              href="#tab-1"
              role="tab"
              aria-controls="tab-1"
              aria-selected="true"
            >
              <img src="{% static 'img/location/thumb-1.jpg' %}" alt="" />
              <h5>Surroundings</h5>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="2-tab"
              data-toggle="tab"
              href="#tab-2"
              role="tab"
              aria-controls="tab-2"
              aria-selected="false"
            >
              <img src="{% static 'img/location/thumb-2.jpg' %}" alt="" />
              <h5>Interior Design</h5>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="3-tab"
              data-toggle="tab"
              href="#tab-3"
              role="tab"
              aria-controls="tab-3"
              aria-selected="false"
            >
              <img src="{% static 'img/location/thumb-3.jpg' %}" alt="" />
              <h5>Comunity Pool</h5>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="4-tab"
              data-toggle="tab"
              href="#tab-4"
              role="tab"
              aria-controls="tab-4"
              aria-selected="false"
            >
              <img src="{% static 'img/location/thumb-4.jpg' %}" alt="" />
              <h5>Views</h5>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
