{% load scheduletags i18n %}
<div class="tablewrapper">
  {% prevnext "tri_month_calendar" calendar period "F Y"%}


<table>
	<tr>
		<td valign="top">{% month_table calendar period "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar period "small" +1 %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar period "small" +2 %}</td>
	</tr>
</table>
</div>
<div class="navigation">
  <a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}">
    {% trans "Full Year Calendar" %}
  </a>
</div>
